<!DOCTYPE html>

<html>
    
<head>
    Page title seems apropriate.
</head>

<body>
@ {
    var title = "Titles"
}
    <h1>title</h1>
    <h1>Time for a few little words to appear in a nice H1!</h1>
    <p>And maybe a paragraph</p>
    <p>or two</p>
</body>

</html>